.navigation {
  width: 15rem;
  height: 20rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: none;
}
.row {
  float: right;
  padding: 1rem;
}

label.hamburg {
  display: block;
  background: #ff0000;
  width: 75px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

input#hamburg {
  display: none;
}

.line {
  position: absolute;
  left: 10px;
  height: 4px;
  width: 55px;
  background: #fff;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.line:nth-child(1) {
  top: 12px;
}
.line:nth-child(2) {
  top: 24px;
}
.line:nth-child(3) {
  top: 36px;
}

#hamburg:checked + .hamburg .line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

#hamburg:checked + .hamburg .line:nth-child(2) {
  opacity: 0;
}

#hamburg:checked + .hamburg .line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav.topmenu {
  background-color: rgb(251, 242, 243);
  box-shadow: 2px 5px 25px rgb(197, 196, 196);
  border-radius: 10px;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
#hamburg:checked + .hamburg + nav.topmenu {
  max-height: 600px;
}

.topmenu ul {
  padding: 0 1rem;
  list-style-type: none;
  text-align: center;
  padding: 3rem;
  line-height: 1rem;
}

.topmenu li {
  padding: 0.5rem 0;
  margin-bottom: 0.25rem;
  cursor: pointer;
}
.topmenu li a:hover {
  color: red;
}
.topmenu li a {
  text-decoration: none;
  color: rgb(108, 107, 107);
  font-weight: bold;
}

@media (max-width: 600px) {
  .navigation {
    display: block;
  }
}
